<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vue JS Tutorial</title>
  <meta name="description" content="Vue JS Tutorial">
  <meta name="author" content="Marian FX">

  <link rel="stylesheet" href="hello-world.css">

</head>

<body>
    <div id="app">
        <!-- v-once renders only the initial value of the property; normally, at each change it would be re-rendered -->
        <h1> {{ "Hello, " + name }}</h1>
        <input type="text" v-model="name"> <!-- Method name, not call -->
        <p> {{ sayHello() }} 
          <!-- - <a href="{{ link }}">Google!</a> THIS DOES NOT WORK-->
          - <a :href="link">Google!</a> <!-- This works, thanks to vue-bind, does not interpret as string-->
        </p> 
        <p v-html="htmlLink"></p>

        <button v-on:click="increase(2, $event)">Click me!</button>

        <button @click="counter++">Increase counter!</button> <!-- I can use simple JS statements, as in Angular-->
        <button @click="counter--">Decrease counter!</button>

        <p> {{ counter }} (Result: {{ output }}) </p> 
        <!-- Computed props are used just like other variables -->
        <!-- it does not render every time, but only when the properties they depend on change -->

        <p v-on:mousemove="updateCoordinates">
          Coordinates: {{ x }} / {{ y }} 
          <!-- This is how we call the event propagation stop, the long wah -->
          <!-- <span v-on:mousemove="cancelMouseMove">DEAD SPOT</span> -->
          <span v-on:mousemove.stop="">DEAD SPOT</span> <!-- This is the clever way to do it, with a MODIFIER -->
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe">

        <br/>
        <div class="demo" 
            @click="attachRed = !attachRed"
            :class="divClasses"></div>
        <!-- <div class="demo" :class="color"></div> -->
        <div class="demo" :class="[color, { 'red': attachRed }]"></div>

        <div class="demo" :style="{ 'background-color': color }"></div>
        <!-- Would work with camel case, backgroundColor; also works with object binding-->
        <hr>
        <input type="text" v-model="color">

        <p v-if="show">You can see me.</p>
        <p v-else>Now you see me instead.</p>
        <!-- <p v-else-if="!show">Now you see me instead.</p> --> <!-- Syntax from Vue 2.1+ --> 
        <template v-if="show"> 
          <!-- Template is HTML5 syntax. It allows to hide multiple elements at same level (not just parent and child). The tab is not rendered-->
          <h1>I'm inside the template</h1>
          <p> Inside the template</p>
        </template>

        <!-- v-show does not remove the element completely from DOM (si it can be still accessed); instead puts it display:none-->
        <p v-show="show">Do you see me?</p>
        <button @click="show = !show">Switch!</button>

        <hr>
        <template v-for="(ingredient, i) in ingredients">
          <h2>{{ingredient}}</h2>
          <p>{{i}}</p>
        </template>
        <button @click="ingredients.push('spices')">Add new</button>

        <hr>
        <ul>
          <!-- By default, Vue uses the index in the array to identify items (does not render the whole list on changes; this can cause tricky behavior sometimes
          As a result, you can specify the 'key' that uniquely identifies items.-->
          <li v-for="person of persons" :key="person.name">
            <div v-for="(value, prop, index) in person"> ({{ prop }} / {{ index }}): {{ value }}</div>  
          </li>
        </ul>
        <h2>Example of counting</h2>
        <span v-for="n in 10"> {{ n }}</span> <!-- starts from 1-->
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- LOCAL SCRIPT -->
    <!-- <script src="./vue.js"></script> -->
    
    <!-- The import of our JS -->
    <script src="./hello-world.js"></script>
</body>
</html>